.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin-top: 70px;
}

article {
    padding: 2rem !important;
}

@media (max-width: 640px) {
    article {
        padding: 1rem !important;
    }
}
