<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-logo">
            <a href="/">Simone Montella x OneEasy</a>
        </div>
        <div class="navbar-links">
            <NavLink class="nav-link" href="ordini">
                Ordini
            </NavLink>
            <NavLink class="nav-link" href="clienti">
                Clienti
            </NavLink>
        </div>
    </div>
</nav>